body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 97px;
}

/* Ліва частина */
.left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  width: 52px; /* можна підлаштувати */
  height: 52px;
}

nav {
  display: flex;
  gap: 27px;
}

nav a {
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
color: #292524;
text-decoration: none;
}

nav a {
  position: relative;
  display: inline-block;  /* дуже важливо — щоб ширина була по тексту */

  font-weight: 600;
  text-decoration: none;
}

nav a.active {
  color: #9b0000;
}

nav a.active::before {
  content: "";
  position: absolute;
  top: -24px;             /* рисочка зверху */
  left: 0;            /* починається від початку тексту */
  width: 100%;        /* ширина рівно по тексту */
  height: 4px;        /* товщина лінії */
  background: #9b0000;
  border-radius: 2px; /* заокруглення країв */
}

/* Права частина */
.right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon {
  position: relative;
  cursor: pointer;
}

.icon img {
  width: 32px;
  height: auto;
  display: block;
}

/* бейджик на корзині */
.cart-badge {
  position: absolute;
bottom: 15px;
    left: 12px;
  background: #9b0000;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
}


/* Hero  */

.hero {
  position: relative;
  width: 100%;
  height: 432px; /* підбери висоту */
  background: url("./img/Background.png") center/cover no-repeat; /* твоє фото */
 display: flex
;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
}

.overlay {
  position: relative;
  z-index: 2;
  width: 745px;
  height: 214px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 10px;
  text-align: center;
}

.overlay .date {
font-family: "Lora";
font-weight: 700;
font-size: 22px;
line-height: 8px;
letter-spacing: 1px;
text-align: center;
color: #1C1917;
}

.overlay h1 {
font-family: "Lora";
font-weight: 700;
font-size: 32px;
line-height: 42px;
letter-spacing: 1px;
text-align: center;
color: #8C0E18;
}

.overlay .subtext {
font-family: "Roboto";
font-weight: 400;
font-size: 18px;
line-height: 22px;
letter-spacing: 1px;
color: #1C1917;
}

.buttons {
  display: flex;
  gap: 15px;
     justify-content: space-between;
    width: 775px;
}

.btn {
  padding: 16px 17px;
  border-radius: 100px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

.btn.red {
  background:#8C0E18CC;
  color: #fff;
    width: 230px;
    display: flex
;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: Roboto;
font-weight: 300;
font-style: Light;
font-size: 22px;
line-height: 26px;
letter-spacing: 1px;
vertical-align: middle;

}



.icon {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  position: relative;
  transition: border-top 0.3s;
  height: 50px;
}

.icon.active {
  border-top: 4px solid  #9b0000; /* червона лінія зверху */
} 

.icon img {
  display: block;
}



.btn.red:hover {
  background: #700000;
}

.btn.white {
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  color: #ffffff;
  font-family: "Roboto";
font-weight: 700;
font-size: 18px;
line-height: 22px;
letter-spacing: 1px;
cursor: pointer;
}

/* tiket */

.tickets {
  max-width: 1392px;
  margin: 40px auto;
  text-align: center;
  padding-bottom: 25px;
    padding-top: 20px;
}

.ticket-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.ticket {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.ticket img {
  width: 100%;
  display: block;
  border-radius: 6px;
  transition: transform 0.2s ease;
}

.ticket:hover img {
  transform: scale(1.05);
}

.ticket:hover {
  background: #e6c9c9; /* рожевий фон при hover */
}


.ticket .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #7b0000;
  pointer-events: none;
}

.ticket::after {
  content: "";
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;  /* ширину підбери під картинку */
  height: 100%;  /* висоту підбери під картинку */
  background: url("./3/Flyout.svg") no-repeat center/contain;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 9999;
}

.ticket:hover::after {
  opacity: 1;
}


.load-more {
  background: #fff;
  border: 1px solid #999;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.load-more:hover {
  background: #f2f2f2;
}



/* модальне логін  */

/* Фон */
.login-modal {
  display: none;
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(80, 80, 80, 0.6);
  backdrop-filter: blur(3px);
}

/* Контент */
.login-modal-content {
  background: #f8f8f8;
  margin: 8% auto;
  width: 630px;
  height: 330px;
  border-radius: 4px;
  overflow: hidden;
  font-family: sans-serif;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}


.login-modal-header {
  background: #8C0E18;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
}

/* білий скошений кут */
.login-modal-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 50px;
  background: #fff;
 clip-path: polygon(100% -106%, 100% 100%, 1% 100%);
}

/* вкладки */
.login-tabs {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
  z-index: 2; /* поверх */
}

.login-tab {
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  
font-weight: 400;
font-size: 18px;
line-height: 22px;
letter-spacing: 1px;
}

/* активна вкладка */
.login-tab.active {
  color: #ffffff;

font-weight: 400;
font-size: 18px;
line-height: 22px;
letter-spacing: 1px;

}

/* хрестик праворуч */
.login-close {
  position: absolute;
 top: 45%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 40px;
  color: #8C0E18; /* тепер червоний на білому фоні */
  z-index: 3; /* поверх усього */
}



/* Тіло */
.login-modal-body {
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;

  background-color: #F5F5F4;
}

.login-modal-body h3 {
  font-family: "Lora";
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 1px;
color: #292524;

}

.login-modal-body label {
  display: block;
  margin: 10px 0 4px;
  color: #333;
font-weight: 700;
font-style: Bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 1px;

}

.login-modal-body input {
 width: 565px!important;
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    height: 23px;
}

/* Footer */
.login-modal-footer {
 display: flex
;
    justify-content: space-between;
    gap: 10px;
    width: 582px;
    flex-direction: row;
    margin: 0 auto;
}

.login-btn {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}

.login-cancel {
  background: #FAFAF9;
  border: 1px solid #ccc;
  width: 90px;
  height: 46px;
font-weight: 700;
font-size: 16px;
line-height: 18px;
letter-spacing: 1px;
vertical-align: middle;


}

.login-continue {
   width: 110px;
  height: 46px;
  background: #8b0000;
  color: #fff;
  font-weight: 700;
font-size: 16px;
line-height: 18px;
letter-spacing: 1px;
vertical-align: middle;
}



/* футер */

.footer {
  background: #8b0d17; /* темно-червоний як на фото */
  color: #fff;
  padding: 30px 20px;
  font-size: 14px;
  height: 168px;
}

.footer-container {
  max-width: 1400px;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-left {
    flex: 1;
    min-width: 250px;
    display: flex
;
    align-content: center;
    align-items: center;
    gap: 20px;
}

.footer-logo {
  width: 72px;
  margin-bottom: 10px;
}

.footer-left1 p {
  margin: 6px 0;
  font-family: "Roboto";
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 18px;
letter-spacing: 1px;

}

.footer-right {
  display: flex;
  gap: 40px;
  flex: 1;
 justify-content: flex-end;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-col a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Roboto";
font-weight: 400;
font-size: 16px;
line-height: 18px;
letter-spacing: 1px;

}

.footer-col a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 40px;
  flex-direction: column;
}

.footer-social img {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  color: #FAFAF9;
}

.footer-social img:hover {
  opacity: 0.7;
}



.header-bar{
background:#8C0E18; /* темно-червоний як на зображенні */
color:#fff;
font-family: "Roboto";
font-weight: 300;
font-size: 32px;
line-height: 38px;
letter-spacing: 1px;
padding: 0 124px ;
height: 86px;
display: flex;
    align-content: center;
    align-items: center;
}


.page-wrapper {
  display: flex;
  background: #f8f8f8;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-end;
    gap: 40px;
}

/* Ліва секція */
.form-section {
 width: 675px;
    /* padding: 25px; */
    padding-top: 48px;
}

.section-title {
font-family: "Lora";
font-weight: 700;
font-size: 28px;
line-height: 16px;
letter-spacing: 1px;

}

.section-subtitle {
font-family: "Lora";
font-weight: 400;
font-size: 16px;
line-height: 24px;

}

.user-info {
  margin-bottom: 20px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;

}
.user-info .label {
  font-weight: bold;
  margin-right: 5px;
}

.form-block {
  margin-bottom: 25px;
  margin-top: 32px;
  border-top: 1px solid #D6D3D1;
}

.form-block h3 {
  margin-top: 32px;
font-weight: 700;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;

}

label {
  display: block;
  margin: 8px 0 5px;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0%;

}

input[type="text"],
input[type="email"] {
  width: 660px;
  padding: 8px;
  height: 30px;
  border: 1px solid #E7E5E4;
  font-size: 14px;
  margin-top: 5px;
}

.input-row {
  display: flex;
  gap: 10px;
}
.input-row input {
  flex: 1;
}

.note {
font-family: "Lora";
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;

}

.input-row {
  display: flex;
justify-content: flex-start;
    gap: 30px;
}

.form-field {
 width: 200px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.form-field .required {
  color: red;
}

.form-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


.payment-method h3 {
font-weight: 700;
font-size: 18px;
line-height: 8px;
letter-spacing: 0%;

}

.payment-method .note {
font-family: "Lora";
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;

}

.radio-option {
display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    font-size: 14px;
    cursor: pointer;
}

.radio-option1 {
display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    font-size: 14px;
    cursor: pointer;
    gap: 5px;
}

.radio-option input {
  margin-right: 8px;
  color: #FFFFFF;
  width: 24px;
  border: 1px solid #E7E5E4;
}

.radio-option1 input {
  color: #FFFFFF;
  width: 24px;
  border: 1px solid #E7E5E4;
}

.radio-option span {
font-weight: 400;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;

}

.radio-option1 span {
font-weight: 400;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;

}

.fee-note {
  color: #78716C;
     margin-left: -115px;
    margin-top: 24px;
    margin-bottom: -18px;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0%;

}


/* Права секція */
.cart-section {
    width: 580px;
  padding: 25px;
  height: 336px;
  background: #F6ECED;
}


/* Права секція */
.cart-section1 {
    width: 580px;
  padding: 25px;
  height: 336px;
}

/* Права секція */
.cart-section1 h1 {
font-family: "Lora";
font-weight: 700;
font-style: Bold;
font-size: 29px;
line-height: 36px;
letter-spacing: 1px;
    margin-top: 38px;

}

.cart-items1 {
    display: grid
;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 20px;
}


.cart-items {
  margin-top: 15px;
}

.remove-btn2 {
    position: relative;
    top: -98px;
    right: 0px;
    font-size: 30px;
    color: #b00;
    cursor: pointer;
}

.ticket-status {
    position: absolute;
    bottom: -45px;
    /* right: 11px; */
    background: #7a0d0d;
    color: #fff;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 12px;
    margin-left: 16px;
}

.ticket-card {
  background: #fff;
  border: 1px dashed #bbb;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.remove-btn {
  position: absolute;
  top: 6px;
  right: 8px;
  cursor: pointer;
  color: red;
}

.add-card {
  background: #f0f0f0;
  cursor: pointer;
}



.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.login-tab {
  cursor: pointer;
  padding: 8px 15px;
  color: #ffffff;
}

.login-tab.active {
  color: #fff;
}


.login-tabs {
  display: flex;
}

.login-tab {
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  position: relative;
  font-weight: normal;
  transition: 0.3s;
}

.login-tab:not(.active) {
  opacity: 0.7; /* неактивні світліші */
}
/* біла риска під активним текстом, але на червоному фоні */
.login-tab.active::after {
content: "";
    position: absolute;
    left: 12%;
    bottom: 10px;
    width: 75%;
    height: 4px;
    background: #fff;
}

/* Адаптивність */
@media (max-width: 768px) {
  .page-wrapper {
    flex-direction: column;
  }
  .form-section {
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
  }
}



.terms-block {
  margin-top: 45px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

.terms-block h3 {
  margin: 0 0 8px;
      margin-top: 15px;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;


}

.terms-block p {
font-family: "Lora";
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;

  margin-bottom: 20px;
}

.terms-block a {
  color: #8C0E18;
  text-decoration: none;
font-family: "Lora";
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;

}

.amount-table {

  border: 1px solid #E7E5E4;
  margin-bottom: 20px;
  background: #FFFFFF;
  padding: 24px;
}

.table-header,
.table-total {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
}


.table-row{
font-family: "Lora";
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 26px;
letter-spacing: 0%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D6D3D1;
    padding:  8px 0;
}

.span1{

font-weight: 400;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;

}


.table-header {
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;

}

.table-total {
  margin-top: 5px;
  font-size: 15px;
  display: flex
;
    justify-content: flex-end;
    gap: 20px;
}

.table-total strong {
font-weight: 700;
font-style: Bold;
font-size: 18px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: 0%;
}

strong1 {
font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;

}

.purchase-btn {
  text-align: right;
}

.purchase-btn button {
  background: #c47b7b;
  border: none;
  width: 200px;
  height: 46px;
  padding: 12px 24px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
  margin-bottom:  50px;

}



/* Overlay */
.winning-modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
}

/* Content — панель справа */
.winning-modal-content {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 640px;
  max-width: 95%;
 background: #f3f3f3;
  border-left: 1px solid #ddd;
  overflow-y: auto;
  animation: winningSlideIn 0.3s ease;
  font-family: Arial, sans-serif;
  color: #333;
}

.winning-modal-header {
  background: #8b1c1c;
  color: #fff;
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 40px;
}
.winning-modal-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;      /* ширина трикутника */
  height: 100%;
  background: #fff; /* колір вирізу */
  clip-path: polygon(100% 0, 100% 116%, 0 100%);
}



.winning-modal-header h2 {
font-weight: 300;
font-style: Light;
font-size: 28px;
line-height: 32px;
letter-spacing: 0%;

}

.winning-close-btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

/* Intro text */
.winning-intro {
font-family: "Lora";
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
padding: 24px;
}

/* Search bar */
.winning-search-bar {
  padding: 0 20px 15px;
}

.winning-last {
  display: block;
  color: #a71f1f;
  font-size: 13px;
  margin-bottom: 6px;
  font-weight: 600;
}

.winning-search-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.winning-search-input input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.winning-search-btn {
  background: #b43a3a;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  height: 48px;
    width: 105px;
}

/* Results title */
.winning-results-title {
font-family: "Lora";
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 30px;
letter-spacing: 0%;
padding-left: 24px;
  color: #222;
}

/* Table */
.winning-results-table {
  padding: 0 20px;
}

.winning-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 18px;
border-bottom: 1px solid #d4d4d4;
}

.winning-row:last-child {
  border-bottom: none;
}

.winning-row span:first-child {
 font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;

}

/* Footer */
.winning-modal-footer {
 padding-top: 70px;
 padding-right: 24px;
 padding-left: 24px;
    border-top: 1px solid #d0d0d0;
    text-align: center;
}

.winning-modal-footer button {
  width: 100%;
  padding: 12px 0;
  border: 1px solid #ccc;
  background: #f9f9f9;
  color: #333;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
}

/* Slide animation */
@keyframes winningSlideIn {
  from { right: -480px; opacity: 0; }
  to { right: 0; opacity: 1; }
}

.bank-info{
    display: flex
;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.form-block1 {
  margin-bottom: 25px;
  margin-top: 32px;
  border-top: 1px solid #D6D3D1;
}

.form-block1 h3 {
  margin-top: 32px;
  font-family: "Lora";
font-weight: 700;
font-size: 22px;
line-height: 22px;
letter-spacing: 0%;

}

.bank-details{
  display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-method1 h3 {
  margin-top: 32px;
  font-family: "Lora";
font-weight: 700;
font-size: 22px;
line-height: 22px;
letter-spacing: 0%;

}

.fee-note1 {
    color: #78716C;
    margin-left: -253px;
    margin-top: 24px;
    margin-bottom: -18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
}

.form-section1 {
    width: 675px;
    /* padding: 25px; */
    padding-top: 48px;
    padding-bottom: 500px;
}